* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* ________________BODY______________ */


/* _____________END OF BODY___________ */

/* ________________HEADER______________ */


/* _____________END OF HEADER__________ */
