* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* ________________BODY______________ */


/* _____________END OF BODY___________ */

/* ________________HEADER______________ */
#nav-list a {
  text-align: center;
}

/* _____________END OF HEADER__________ */
