* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* ________________BODY______________ */
/* body {
  background-color: wheat;
} */
/* _____________END OF BODY___________ */

/* ________________HEADER______________ */

#logo-img {
  background: url("../images/FoodLLC.png") no-repeat;
  width: 152px;
  height: 50px;
}

/* _____________END OF HEADER__________ */
